<div class="container">
  <%= form_with model: diet, url: home_index_path(format: :pdf), class: "row g-3", local: true, html: {target: '_blank'} do |form| %>
    <div class="col-md-4">
      <%= form.label :name, class: "form-label"%>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= form.label :weight, class: "form-label"%>
      <%= form.number_field :weight, class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= form.label :age, class: "form-label"%>
      <%= form.number_field :age, class: "form-control" %>
    </div>

    <div class="col-12">
      <%= form.label :nutritionist_name, class: "form-label"%>
      <%= form.text_field :nutritionist_name, class: "form-control" %>
    </div>

    <div class="col-6">
      <%= form.label :important_points, class: "form-label"%>
      <%= form.text_area :important_points, class: "tinymce" %>
    </div>

     <div class="col-6">
      <%= form.label :early_morning, class: "form-label"%>
      <%= form.text_area :early_morning, class: "tinymce" %>
    </div>

    <div class="col-6">
      <%= form.label :breakfast, class: "form-label"%>
      <%= form.text_area :breakfast, class: "tinymce" %>
    </div>

    <div class="col-6">
      <%= form.label :lunch, class: "form-label"%>
      <%= form.text_area :lunch, class: "tinymce" %>
    </div>

    <div class="col-6">
      <%= form.label :evening_snacks, class: "form-label"%>
      <%= form.text_area :evening_snacks, class: "tinymce" %>
    </div>

    <div class="col-6">
      <%= form.label :dinner, class: "form-label"%>
      <%= form.text_area :dinner, class: "tinymce" %>
    </div>

    <div class="col-12">
       <%= form.submit "Create PDF", class: "btn btn-primary", onclick: "refresh()" %>
    </div>

  <% end %>
  <br><br>
</div>

<script type="text/javascript">
  function refresh() {
    setTimeout(function(){
      window.location.reload();
    }, 1000);
  }
</script>