<div class="container">
  <form class="row g-3">

    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="name" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Weight</label>
      <input type="weight" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Age</label>
      <input type="weight" class="form-control" id="inputEmail4">
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">Nutritionist Name</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>

    <div class="col-6">
      <label for="inputAddress" class="form-label">Important Points</label>
      <%= text_area_tag :content, "", :class => "tinymce" %>
    </div>

     <div class="col-6">
      <label for="inputAddress" class="form-label">Early Morning</label>
      <%= text_area_tag :content, "", :class => "tinymce" %>
    </div>

    <div class="col-6">
      <label for="inputAddress" class="form-label">Break-Fast</label>
      <%= text_area_tag :content, "", :class => "tinymce" %>
    </div>

    <div class="col-6">
      <label for="inputAddress" class="form-label">Lunch</label>
      <%= text_area_tag :content, "", :class => "tinymce" %>
    </div>

    <div class="col-6">
      <label for="inputAddress" class="form-label">Evening Snacks</label>
      <%= text_area_tag :content, "", :class => "tinymce" %>
    </div>

    <div class="col-6">
      <label for="inputAddress" class="form-label">Dinner</label>
      <%= text_area_tag :content, "", :class => "tinymce" %>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Create PDF</button>
    </div>

  </form>
  <br><br>
</div>
