<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
</head>
<body>
    <%= wicked_pdf_image_tag asset_url('/assets/logo.png'), weight: 250, height: 250, class: 'right' %><hr class="new5">
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <center><h3 class="card-title text-success">Your Details</h3></center>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: <%= @diet.name %></li>
        <li class="list-group-item">Weight: <%= @diet.weight %></li>
        <li class="list-group-item">Age: <%= @diet.age %></li>
        <li class="list-group-item">Date: <%= @diet.created_at.strftime('%d-%m-%Y') %></li>
        <strong><li class="list-group-item">NUTRITIONIST: <%= sanitize @diet.nutritionist_name %></li></strong>
      </ul>
    </div><br>

    <div class="card">
      <div class="card-body">
        <center><h3 class="card-title text-success">Important Points</h3></center>
      </div>
      <div class="para-text"> <%= sanitize @diet.important_points %> </div>
    </div><hr>

    <div class="card">
      <div class="card-body">
        <center><h3 class="card-title text-success">Early Morning</h3></center>
      </div>
      <div class="para-text"> <%= sanitize @diet.early_morning %> </div>
    </div><hr>

    <div class="card">
      <div class="card-body">
        <center><h3 class="card-title text-success">Break Fast</h3></center>
      </div>
      <div class="para-text"> <%= sanitize @diet.breakfast %> </div>
    </div><hr>

    <div class="card">
      <div class="card-body">
        <center><h3 class="card-title text-success">Lunch</h3></center>
      </div>
      <div class="para-text"> <%= sanitize @diet.lunch %> </div>
    </div><hr>

    <div class="card">
      <div class="card-body">
        <center><h3 class="card-title text-success">Evening Snacks</h3></center>
      </div>
      <div class="para-text"> <%= sanitize @diet.evening_snacks %> </div>
    </div><hr>

    <div class="card">
      <div class="card-body">
        <center><h3 class="card-title text-success">Dinner</h3></center>
      </div>
      <div class="para-text"> <%= sanitize @diet.dinner %> </div>
    </div><hr>

    <h3 class="note">Note:<h3>
      <div class="para-text-note">
        Try to update meal pictures on WhatsApp because coach will get to know about your right meal with right quantity. That will be beneficial for you.
      </div>
  </div>
</div>

</body>
</html>

<style type="text/css">
  body{
    font-family: sans serif;
  }
  hr.new5 {
    border: 5px solid green;
    border-radius: 5px;
  }
  .card-title{
    font-weight: bold;
  }
  .list-group-item{
    font-size: 15px;
  }
  .para-text{
    font-size: 15px;
    padding: 15px;
  }
  .note{
    font-size: 20px;
    color: red;
    font-weight: bold;
  }
  .card{
    border: 1px solid green;
  }
  .para-text-note{
    font-size: 20px;
    font-weight: bold;
  }
</style>